<%- include("templates/header") %>
<!-- <link rel="stylesheet" href="/styles/leaderboard.css"> -->

<!-- Top three user display -->
<div id="topThree">
    <div class="topUser" id="second"> <!-- left bar -->
        <img id="profilePic" src="/images/profilePic.jpg" alt="profile pic"/>
        <span>Username</span>
        <div class="square">
            <span>2</span>
        </div>
    </div>
    
    <div class="topUser" id="first"> <!-- middle bar -->
        <img id="profilePic" src="/images/profilePic.jpg" alt="profile pic"/>
        <span>Chipilon123</span>
        <div class="square">
            <span>1</span>
        </div>
    </div>

    <div class="topUser" id="third"> <!-- right bar -->
        <img id="profilePic" src="/images/profilePic.jpg" alt="profile pic"/>
        <span>Username</span>
        <div class="square">
            <span>3</span>
        </div>
    </div>
</div>

<!-- User information under top three -->
<div class="userInfo">
    <div class="userCols">
        <img id="profilePic" src="/images/profilePic.jpg" alt="profile pic"/>
        <span>Username</span>
    </div>

    <div class="userCols">
        <span><strong>Points</strong></span>
        <span>100</span>
    </div>

    <div class="userCols">
        <span><strong>Position</strong></span>
        <span>30</span>
    </div>
</div>

<!-- Other users -->
<!-- use javascript to populate, copy paste for now -->
<div id="otherUsers">
    <div class="square">
        <span id="otherUserInfo">
            4
            <img id="profilePic" src="/images/profilePic.jpg" alt="profile pic"/>
            Username
        </span>

        <span>300 Points</span>
    </div>

    <div class="square">
        <span id="otherUserInfo">
            4
            <img id="profilePic" src="/images/profilePic.jpg" alt="profile pic"/>
            Username
        </span>

        <span>300 Points</span>
    </div>

    <div class="square">
        <span id="otherUserInfo">
            4
            <img id="profilePic" src="/images/profilePic.jpg" alt="profile pic"/>
            Username
        </span>

        <span>300 Points</span>
    </div>
    
    <div class="square">
        <span id="otherUserInfo">
            4
            <img id="profilePic" src="/images/profilePic.jpg" alt="profile pic"/>
            Username
        </span>

        <span>300 Points</span>
    </div>

    <div class="square">
        <span id="otherUserInfo">
            4
            <img id="profilePic" src="/images/profilePic.jpg" alt="profile pic"/>
            Username
        </span>

        <span>300 Points</span>
    </div>
</div>

<div id="leaderboardContainer">
</div>

<script src="/scripts/leaderboard.js"></script>
<%- include("templates/navbar") %>