<!-- views/login.ejs -->
<%- include("templates/header") %>

<div id="container">
  <img id="logo" src="/images/Logo.webp" alt="logo"/>
  <form action="/login" method="POST">
    <span><strong>Login to Your Account</strong></span>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" id="button" value="Login">
  </form>
  <span id="signup">
    Don't have an account? <a href="/signup">Signup</a>
  </span>
</div>

<style>
  #logo {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
  }
</style>

<script src="/scripts/auth.js"></script>
<%- include("templates/navbar") %>
