<%- include("templates/header") %>

        <div class="history-header">
            <h1>BETS HISTORY</h1>
        </div>

        <div class="bet-history">
            <div class="bet-item">
                <div class="bet-details">
                    <p class="bet-description">Get 8 hour sleep every day for a week</p>
                    <p class="bet-status">
                        <span class="place">3rd Place</span>
                        <span class="ongoing">Ongoing....</span>
                    </p>
                </div>
            </div>

            <div class="bet-item">
                <div class="bet-details">
                    <p class="bet-description">Eat healthy for 3 days straight</p>
                    <p class="bet-status">
                        <span class="place">4th Place</span>
                        <span class="points">+390 PP</span>
                    </p>
                </div>
            </div>

            <div class="bet-item">
                <div class="bet-details">
                    <p class="bet-description">Be a good person<br>FOR A YEAR</p>
                    <p class="bet-status">
                        <span class="place">5th Place</span>
                        <span class="points">+300 PP</span>
                    </p>
                </div>
            </div>

            <div class="bet-item">
                <div class="bet-details">
                    <p class="bet-description">Go to the gym for a<br>YEAR</p>
                    <p class="bet-status">
                        <span class="place">8th Place</span>
                        <span class="points">+50 PP</span>
                    </p>
                </div>
            </div>
        </div>

   <%- include("templates/navbar") %>
  

