<%- include("templates/header") %>
<div class="shop-container">
        <h1>🛒 Game Shop</h1>
        <div class="balance">
            Your Balance: <span id="balance">$1000</span>
        </div>
        <div class="inventory">
            <h2>Available Items</h2>
            <div class="item-list" id="itemList"></div>
        </div>
        <div class="inventory">
            <h2>Your Inventory</h2>
            <ul id="inventoryList"></ul>
        </div>
    </div>

    <script src="/scripts/shop.js"></script>
<%- include("templates/navbar") %>