<%- include("templates/header") %>

    <div class="container my-5">
        <h1>🛒 Game Shop</h1>
        <div class="card bg-light mb-4">
            <div class="card-body">
                <h3>Your Balance: <span id="balance">$1000</span></h3>
            </div>
        </div>

        <div class="row" id="itemList"></div>
    </div>

    <%- include("templates/footer") %>

        <script src="/scripts/shop.js"></script>

<%- include("templates/navbar") %>